PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://admin-unsia:toHfEntay42sbrUM@ac-c7b6mml-shard-00-00.pzyf5ak.mongodb.net:27017,ac-c7b6mml-shard-00-01.pzyf5ak.mongodb.net:27017,ac-c7b6mml-shard-00-02.pzyf5ak.mongodb.net:27017/unsia-library?authSource=admin&replicaSet=atlas-cgpa9w-shard-0&tls=true&retryWrites=true&w=majority
JWT_SECRET=o4xuWy6eIk0Zen84t3UN
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:5173